export NIXPKGS_ALLOW_INSECURE=1
use nix

export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work
export SOURCE_DIR=${PROJECT_DIR}/src

PATH=${PROJECT_DIR}/bin:${PATH}

